:root {
    --font-family: "Poppins", sans-serif;
}
.header {
    background-color: #F1F1F1;
}
.header__top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 115px;
    height: 35px;
    margin-top: 46px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 446px;
    height: 21px;
    padding-top: 60px;
    padding-bottom: 76px;
}
.nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
    gap: 50px;
    cursor: pointer;
}
.burger-menu {
    padding-right: 30px;
    width: 30px;
    cursor: pointer;
}
.burger-line {
    background: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.burger-line-1 {
    margin-bottom: 4px;
    width: 33px;
    height: 4px;
    background-color: #000;
}
.burger-line-2 {
    margin-bottom: 4px;
    width: 33px;
    height: 4px;
    background-color: #000;
}
.burger-line-3 {
    margin-bottom: 4px;
    width: 33px;
    height: 4px;
    background-color: #000;
}
/* .nav-link:hover {
    cursor: pointer;
} */
.header__bottom-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content {
    width: 500px;
    height: 208px;
}
.header-h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 44px;
    color: #000;
}
.header-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #000;
}
.header-img {
    width: 494px;
    height: 613px;
    padding-top: 76px;
}
@media screen and (max-width: 976px) {
    .header-img {
        /* padding-left: 15px; */
        width: 296px;
        height: 367px;
    }
    .header-h3 {
        font-size: 28px;
        width: 307px;
        height: 91px;
    }
    .header-p {
        font-size: 14px;
        width: 315px;
        height: 84px;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        padding-left: 30px;
        margin-bottom: 50px;
    }
    /* .nav {
        display: none;
    } */
    .header__bottom-flex {
        flex-direction: column;
    }
    .header-content {
        padding-left: 33px;
        margin-left: 33px;
    } 
}
@media screen and (max-width: 435px) {
    .header-h3 {
        font-size: 24px;
        width: 300px;
        height: 91px;
        padding-left: 30px;
        padding-right: 38px;
    }
    .header-img {
        margin-left: 40px;
        margin-right: 39px;
    }
    .header-p {
        font-size: 12px;
        width: 310px;
        height: 84px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-content {
        padding-left: 40px;
        margin-left: 40px;
    } 
}